* {
  --width: 100vh;
}

body {

  height: 100vh;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  row-gap: 5px;
}

.counter-container {
  display: flex;
  width: 100%;
  column-gap: 5px;

  height: fit-content;
}

#zero {
  background: linear-gradient(#e27f22, #e27f22c2);
  color: black;
  font-weight: 800;
  font-size: 1.5rem;
  padding: 10px;
  padding: 1rem;
  color: white;

}

button {
  width: calc(var(--width)/ 10);
  height: calc(var(--width)/ 10);
  border-color: rgb(220, 236, 250);
  border-radius: 5px;
  font-size: 1.8rem;
  background: linear-gradient(#d1d1d1, #efefef);

}

button:active {
  font-size: 1.7rem;
}

.reload {
  font-size: 3em;
  background-color: transparent;
  width: calc(var(--width)/ 10);
  height: calc(var(--width)/ 10);
  border-color: rgb(215, 215, 215);
  border-radius: 5px;
}

.reload:active {
  font-size: 2.9em;
}

.controls {
  display: flex;
  column-gap: 5px;

}

.cart {
  display: flex;
  height: 50px;
  width: 50px;
  align-items: center;
  font-size: 2rem;
  justify-content: space-between;
}

.cart::before {
  content: '🛒';
  font-size: 2rem;
}